In [4]:
a = "abcd"
print(type(a))

<class 'str'>

In [5]:
print(a)

abcd

In [12]:
a = """Amir is a boy
He is 19
test
***
"""
print(a)

str

In [14]:
a = ["Ali","Reza","John"]
#      0,     1,      2
a[1]

'Reza'

In [15]:
a = "Hello World!"
print(a[1])

e

In [17]:
print(a[-2])

d

In [21]:
for x in "Hello world!":
    print(x+"aaa")

Haaa
eaaa
laaa
laaa
oaaa
 aaa
waaa
oaaa
raaa
laaa
daaa
!aaa

In [23]:
print(len(a))

12

In [25]:
txt = "The best things in life are free!"
word = "free"
# if the word is in the txt or not
print(word in txt)

True

In [28]:
if "best" in txt:
    print("Yes! the world best is present")

Yes! the world best is present

In [29]:
print("Amir" not in txt)

True

In [32]:
b = "Amir is a cool kid!"
#      2   6
print(b[2:6])

ir i

In [33]:
print(b[:6])

Amir i

In [34]:
print(b[4:])

 is a cool kid!

In [42]:
b = "Hello, World!"
print(b[3:7:2])

l,

In [43]:
a.upper()

'HELLO WORLD!'

In [44]:
a.lower()

'hello world!'

In [49]:
txt_white = " Amir "
txt_white.strip()

'Amir'

In [50]:
print(txt_white.replace("A", "T"))

 Tmir

In [52]:
a = "Amir,Hallaj"
print(a.split(","))

['Amir', 'Hallaj']

In [53]:
print(a + " HH")

Amir,Hallaj HH

In [54]:
a + 2
# We can not add a number to a string!

TypeError: can only concatenate str (not "int") to str

In [55]:
txt = "Hello world!"
for x in txt:
    print(f"{x} is a letter")

H is a letter
e is a letter
l is a letter
l is a letter
o is a letter
  is a letter
w is a letter
o is a letter
r is a letter
l is a letter
d is a letter
! is a letter

In [58]:
length = len(txt)
print(f"'{txt}' is this much long:{length}")

'Hello world!' is this much long:12

In [59]:
print( 10>9)

True

In [61]:
print("Word" == "Word")
print(2 == 2)
# 2+2 = 4

True
True

In [65]:
ali_age = 22
reza_age = 25

if ali_age == reza_age:
    print("Same age!")
    
elif ali_age < reza_age:
    print("Reza is older")
    
else:
    print("Ali is older")

Reza is older

In [68]:
bool("abc")

True

In [71]:
bool("")

False

In [73]:
bool(25)

True

In [74]:
2+2

4

In [75]:
print(4/2)

2.0

In [76]:
print(3/2)

1.5

In [77]:
print(3%2)

1

In [78]:
print(3//2)

1

In [80]:
print(2**32)

4294967296

In [88]:
number_1 = 1
print(number_1)
number_1 +=1 # -=2, *=2 
print(number_1)

1
2

In [89]:
number_1 = number_1 +1
print(number_1)

3

In [91]:
print( 2 != 3) # ==, <= , < 
if 2 == 3 and 4 < 5:
    pass

True

In [94]:
Ali = 22
Reza = 25
Hassan = 24


if Reza > Hassan and Reza > Ali:
    print("Reza is the oldest!")

Reza is the oldest!